os
numpy
pandas
scikit-learn
matplotlib

flask 
flask_sqlalchemy 
flask_login 
flask_bcrypt 
pymysql 
python-dotenv
Flask-WTF

google-generativeai 
reportlab 
pillow

opencv-python
tensorflow
keras

requests
gunicorn

flask-login 
flask-bcrypt 
email-validator